
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
<link rel="stylesheet" href="/css/navbar2.css">
<div class="logo-slider-1">
    <div class="owl-carousel version-1 filter-box">
      <div class="filter">
        <a href="/listings?q=trending">
          <div class="filter-icon"><i class="fa-solid fa-fire"></i></div>
          <div class="icon-info">Trending</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=family">
          <div class="filter-icon"><i class="fa-solid fa-people-roof"></i></div>
          <div class="icon-info">Family</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=beachside">
          <div class="filter-icon"><i class="fa-solid fa-umbrella-beach"></i></div>
          <div class="icon-info">Beachside</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=pet-friendly">
          <div class="filter-icon"><i class="fa-solid fa-paw"></i></div>
          <div class="icon-info">Pet Friendly</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=cityescape">
          <div class="filter-icon"><i class="fa-solid fa-city"></i></div>
          <div class="icon-info">CityEscape</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=countryside">
          <div class="filter-icon"><i class="fa-solid fa-tractor"></i></div>
          <div class="icon-info">Countryside</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=adventure">
          <div class="filter-icon"><i class="fa-solid fa-hiking"></i></div>
          <div class="icon-info">Adventure</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=budget-stays">
          <div class="filter-icon"><i class="fa-solid fa-money-bill"></i></div>
          <div class="icon-info">Budget Stays</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=luxury">
          <div class="filter-icon"><i class="fa-solid fa-gem"></i></div>
          <div class="icon-info">Luxury</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=unique-stays">
          <div class="filter-icon"><i class="fa-solid fa-tree"></i></div>
          <div class="icon-info">Unique Stays</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=skiing">
          <div class="filter-icon"><i class="fa-solid fa-snowflake"></i></div>
          <div class="icon-info">Skiing</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=romantic">
          <div class="filter-icon"><i class="fa-solid fa-heart"></i></div>
          <div class="icon-info">Romantic</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=eco-friendly">
          <div class="filter-icon"><i class="fa-solid fa-leaf"></i></div>
          <div class="icon-info">Eco-Friendly</div>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=nightlife">
          <div class="filter-icon"><i class="fa-solid fa-music"></i></div>
          <div class="icon-info">Nightlife</div>
        </a>
      </div>
      
      
    </div>
  </div>
 
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<script  src="/js/navbar2.js"></script>

