<% layout("./layouts/boilerplate.ejs") %>

<body>
    <div>
        <%- include("../includes/navbar2.ejs") %>
        <!-- <hr style = "margin : 0px"> -->
    </div>
    <div class="alert alert-warning " style = "text-align: center; width : 75%; margin : auto;" >
       <%= err.message %>. . . .
    </div>
</body>